<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="catalog_image_clean" xsi:type="object">EkoUK\ImageCleaner\Console\Command\CatalogImageclean</item>
				<item name="image_corrupted_clean" xsi:type="object">EkoUK\ImageCleaner\Console\Command\ImageCorruptedClean</item>
                <item name="non_image_list" xsi:type="object">EkoUK\ImageCleaner\Console\Command\NonImageList</item>
			</argument>
		</arguments>
	</type>
</config>
