<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="catalog_image_clean" xsi:type="object">EkoUK\ImageCleaner\Console\Command\CatalogImageClean</item>
				<item name="corrupt_image_clean" xsi:type="object">EkoUK\ImageCleaner\Console\Command\CorruptImageClean</item>
                <item name="non_image_image_clean" xsi:type="object">EkoUK\ImageCleaner\Console\Command\NonImageClean</item>
                <item name="dodgy_image_clean" xsi:type="object">EkoUK\ImageCleaner\Console\Command\DodgyImageClean</item>
			</argument>
		</arguments>
	</type>
</config>
